<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen,projection">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <!--Laat de browser weten dat het geoptimalizeerd is voor mobiel-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>

        <div class="nav-wrapper">
            <div id="logoclick"><img id="logo" class="brand-logo" alt="logo" src="{{ url_for('static', filename='logo.png') }}"></div>
            <ul class="right nav-mobile hide-on-med-and-down">
                <li>
                    <div id="gotoStudentLogin" class="waves-effect navItems">{{ naam }}</a>
                </li>
                <!-- TODO: add delay, om het effect af te spelen -->
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
    </nav>


    <div id="dashboarddocent" class="row">
        <div id="TileStudentToevoegen" class="dashboardtiles valign-wrapper col s10 m4 l4 offset-s1 offset-l1 offset-m1 z-depth-4 waves-effect">
            <p class="dashboardtilestekst">Studenten toevoegen</p>
        </div>
        <div id="TileStudenBekijken" class="dashboardtiles valign-wrapper col s10 m4 l4 offset-s1 offset-l2 offset-m2 z-depth-4 waves-effect">
            <p class="dashboardtilestekst">Studenten bekijken</p>
        </div>
        <div id="TileGroepenBewerken" class="dashboardtiles valign-wrapper col s10 m4 l4 offset-s1 offset-l1 offset-m1 z-depth-4 waves-effect">
            <p class="dashboardtilestekst">Groepen bewerken</p>
        </div>
        <div id="TileGroepenBekijken" class="dashboardtiles valign-wrapper col s10 m4 l4 offset-s1 offset-l2 offset-m2 z-depth-4 waves-effect">
            <p class="dashboardtilestekst">Groepen bekijken</p>
        </div>
    </div>

    <div id="StudentToevoegen" class="row infaden">
        <form class="col s10 offset-s1 m8 offset-m4 l6 offset-l3">
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <input placeholder="Voornaam" id="voornaam" type="text" class="validate">
                </div>
                <div class="input-field col s6 m6 l6">
                    <input placeholder="Achternaam" id="achternaam" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <input placeholder="Mail" id="mail" type="email" class="validate">
            </div>
            <div class="row">
                <input placeholder="Paswoord" id="paswoord" type="password" class="validate">
            </div>
            <input placeholder="School" id="school" type="text" class="validate">
            <a id="btnStudentToevoegen" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
        </form>
    </div>


    <div data-role="page" id="studentbekijken">
        <div class="row">
            <ul class="collapsible popout col s10 m8 l8 offset-s1 offset-l2 offset-m2" id="studentenlijst" data-collapsible="accordion">
                <!-- Wordt opgevuld door dashboardscript.js en studentbekijken.php -->
            </ul>
        </div>
    </div>

    <div data-role="page" id="groepenbewerken">
        <div class="row">
            <div id="lijstmetstudenten"></div>
            <div id="groepenlijst" class="col s5 m5 l5 offset-s6 offset-m6 offset-l6"></div>
            <a id="GroepToevoegenAanLijst" class="waves-effect waves-light btn">Groep toevoegen</a>
        </div>
    </div>

    <div data-role="page" id="groepenbekijken">
        <div class="row">
            <ul class="collapsible popout col s10 m8 l8 offset-s1 offset-l2 offset-m2" id="groepenophalenlijst" data-collapsible="accordion">
                <!-- Wordt opgevuld door dashboardscript.js en studentbekijken.php -->
            </ul>
        </div>
    </div>

    <!--Import jQuery voor materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/docentdashboardscript.js') }}"></script>
</body>

</html>
